<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta content="width=320, user-scalable=no" name="viewport">
<title>Qiitaエンジニアランキング(非公式)</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
body{
  width:320px;
}
.title{
  font-size:1.5rem;
}
.title{
  font-size:1.5rem;
}
.container{
  margin-bottom: 10px;
}
#area_result .message-body {
  background: #fff;
  border: 1px solid #222;
  border-top: none;
}
.loading{
  text-align: center;
  font-size: 10rem;
}

</style>
</head>
<body>
<section id="app" class="section">
  <div v-show="loading" class="loading modal" :class="{ 'is-active':loading }">
    <div class="modal-background"></div>
    <div class="modal-content">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </div>
  <div id="area_input" class="container">
    <h1 class="title">エンジニアランキング</h1>
    <p class="subtitle">Qiitaのcontributions値から,日本でどのくらいのエンジニアなのかを見積もります</p>
  </div>
  <div v-show="!showResult" id="area_input" class="container">
    <p class="subtitle"><i class="fas fa-edit"></i><a href="https://qiita.com/">ユーザーページ</a>を参考に、あなたのcontributions値を入力してね！</p>
    <img src="img/qiita_screen.png" style="width:278px;height:278px;">
    <div class="field">
      <label class="label" for="input_name">おなまえ</label>
      <div class="control">
        <input class="input" type="text" id="input_name" placefolder="ななし" v-model="name" >
      </div>
    </div>
    <div class="field">
      <label class="label" for="input_contribution">contribution値</label>
      <div class="control">
        <input class="input" type="number" id="input_contribution" placefolder="200" v-model="contribution" >
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button :disabled="!submitable" @click="onSubmit" class="button is-primary ">判定</button>
      </div>
    </div>
  </div>
  <div v-show="debug || showResult" id="area_result" class="message is-primary">
    <div class="message-header">
      <p>判定</p>
      <button @click="onClickResultClose" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <div id="area_result_text" >
        <div v-if="contribution > maxContribution">
          <img src="img/illust_torokko_trolley_rail_businessman_out.png" style="width:200px;height:188px" />
          <p>{{name}}さんのcontribution {{contribution}}は、Qiitaユーザー20万人のうち、{{rank}}位くらいに位置します。</p>
          <p>どんな入力欄にも境界値テストを欠かさないその姿勢が素晴らしいスコアを支えているのですね！</p>
          <p>ちなみに解答は、このパターンを含めて6ケース用意していますよ</p>
        </div>
        <div v-else-if="contribution >= godContribution">
          <img src="img/illust_network_dennou_sekai_man.png" style="width:200px;height:195px" />
          <p>{{name}}さんのcontribution {{contribution}}は、Qiitaユーザー20万人のうち、{{rank}}位くらいに位置します。</p>
          <p>あなたが伊藤神か！</p>
        </div>
        <div v-else-if="percentage < 0.01">
          <img src="img/illust_computer_hacker.png" style="width:200px;height:199px" />
          <p>{{name}}さんのcontribution {{contribution}}は、Qiitaユーザー20万人のうち、{{rank}}位くらいに位置します。</p>
          <p>これは、上位から{{percentage_num}}%に当たります。日本を代表するエンジニアですね！</p>
        </div>
        <div v-else-if="percentage < 1">
          <img src="img/illust_computer_hacker_white1.png" style="width:200px;height:200px" />
          <p>{{name}}さんのcontribution {{contribution}}は、Qiitaユーザー20万人のうち、{{rank}}位くらいに位置します。</p>
          <p>これは、上位から{{percentage_num}}%に当たります。一流エンジニアですね！</p>
        </div>
        <div v-else-if="percentage < 15">
          <img src="img/illust_computer_hacker_white1.png" style="width:200px;height:200px" />
          <p>{{name}}さんのcontribution {{contribution}}は、Qiitaユーザー20万人のうち、{{rank}}位くらいに位置します。</p>
          <p>これは、上位から{{percentage_num}}%に当たります。立派なエンジニアですね！</p>
        </div>
        <div v-else>
          <img src="img/illust_smartphone_neru_schoolboy.png" style="width:200px;height:142px" />
          <p>{{name}}さんのcontribution {{contribution}}は、Qiitaユーザー20万人のうち、{{rank}}位くらいに位置します。</p>
          <p>一つ記事を書けばあなたも立派なエンジニアになれるよ！</p>
        </div>
      </div>
      <div class="twitter">
        <p><a :href=`https://twitter.com/intent/tweet?text=${tweet_text}&url=https://mogya.github.io/qiitaRank/` target='_blank'><i class="fab fa-twitter-square"></i>この結果をツイートする</a></p>
       </a>
      </div>
    </div>
  </div>
  <div id="area_list" class="container">
    <ul>
      <li><a href='https://help.qiita.com/ja/articles/qiita-contribution' target='_blank'>Contributionとは - Qiita:Support</a></li>
      <li><a href='https://qiita.com//t_nakayama0714/items/07ce8bf3501268f96fe3#contribution%E3%81%AE%E5%88%86%E5%B8%83' target='_blank'>Qiitaのあれこれをひたすら分析してランキング - Qiita</a></li>
      <li>creater: <a href='https://twitter.com/mogya' target='_blank'>mogya</a></li>
    </ul>
  </div>

</section>
</body>
<script type="text/javascript">
const user_count = 200000;
const point_classes = [
     {contribution : 0, percentage : 100},
     {contribution : 1, percentage : 14.47},
     {contribution : 10, percentage : 9.15},
     {contribution : 100, percentage : 3.18},
     {contribution : 1000, percentage : 0.44},
     {contribution : 10000, percentage : 0.01},
     {contribution : 41159, percentage : 1/user_count},
     {contribution : 50000, percentage : 0},
     {contribution : Infinity, percentage : 0},
];
var app = new Vue({
  el: "#app",
  data: {
    loading: false,
    showResult: false,
    name: "",
    contribution: 0,
    tweet_text: '',
  },
  computed: {
    maxContribution: function () {
      return point_classes[point_classes.length-2].contribution;
    },
    godContribution: function () {
      return point_classes[point_classes.length-3].contribution;
    },
    rank: function () {
      let r = 1;
      if (this.percentage !== 0){
        r = Math.ceil(user_count*this.percentage/100);
      }
      this.debug_log(`rank(u):${user_count}`);
      this.debug_log(`rank(p):${this.percentage}`);
      this.debug_log(`rank:${r}`);
      return r;
    },
    percentage: function () {
      const c = this.user_classes;
      let p =
        (c[0].contribution-this.contribution) *
        (c[1].percentage-c[0].percentage) /
          (c[0].contribution-c[1].contribution) +
          c[0].percentage;
      this.debug_log(`percentage:${p}`);
      if (c[1].percentage === 0){ p = 0; }
      return p;
    },
    percentage_num: function(){
      let ret = '';
      if (this.percentage > 1){
        ret = this.percentage.toString().replace(/([^0].[^0])(.*)/,"$1");
      }else{
        ret = this.percentage.toString().replace(/(0.0*[^0])(.*)/,"$1");
      }
      return ret;
    },
    submitable: function() {
      return !!(this.name && this.contribution >= 0 )
    },
    user_classes: function() {
      const index = point_classes.findIndex((element)=>{
        return (this.contribution < element.contribution);
      });
      const r = [point_classes[index], point_classes[index-1]];
      this.debug_log("user_classes:");
      this.debug_log(r);
      return r;
    },
    debug: function(){
      return false;
    }
  },
  methods: {
    onSubmit: function () {
      this.loading = true;
      setTimeout(()=>{
        this.showResult = true;
        this.loading = false;
        this.updateTweetText();
      }, 1000)
    },
    onClickResultClose: function(){
      this.showResult = false;
    },
    updateTweetText: function(){
      this.tweet_text = encodeURI(document.getElementById('area_result_text').textContent);
    },
    debug_log: function(msg){
      // console.log(msg);
    }
  }
})
</script>
</html>

